.multi-date-picker .rmdp-focused {
    background-color: darkblue !important;
}

.multi-date-picker .rmdp-container {
    display: block !important;
}

.multi-date-picker .c4g-error {
    color: darkred;
}